<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="root">
        <header>
            <div class="header-top d-flex justify-content-between align-items-center">
                <img src="img/logo.svg" alt="">
                <div class="ms_select">
                    <select v-model="selectedGenre" @change="filteredAlbum()">
                       <option value="">Seleziona il genere</option>
                       <option v-for="(genre, index) in listaGeneri" :value="genre" :key="index">{{genre}}</option> 
                    </select> 
                </div>
            </div>
            
        </header>

        <main>
            <div class="container">

                <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 justify-content-center ">
        
                    <div class="text-center" v-for="(album, indice) in filteredAlbum">
                        <div class="ms_box ">
                            <img class="ms_img-fluid" :src="album.poster" alt="">
                            <h3>{{album.title}}</h3>
                            <h5>{{album.author}}</h5>
                            <h5>{{album.year}}</h5>
                        </div>  
                    </div>
        
                </div>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>

</body>
</html>